.samarbeidsstatus-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--a-deepblue-600);
  padding: 2rem 4rem;
  border-radius: var(--a-border-radius-xlarge);
  color: var(--a-white);

  .samarbeidsstatus-box__tittel {
    font-weight: 500;
  }

  --ac-button-secondary-text: var(--a-white);
  --ac-button-secondary-border: var(--a-white);
}
