@use "src/styles/screensize";

.inkluderendeArbeidslivPanel {
  width: 100%;
  &__header {
    padding: 2rem 1rem;
  }
  &__avsnitt {
    padding: 1rem 0.5rem 0 0.5rem;
    &__tittel {
      font-weight: bold;
    }
  }
  &__lenke {
    margin-bottom: var(--a-spacing-4);
  }
  &__lenkepanel {
    height: 7rem;
    background-color: var(--a-blue-50);
    color: var(--a-blue-600);
    margin-top: 1rem;
    &__tittel {
      padding-left: 0.5rem;
      font-size: var(--a-font-size-heading-small);
    }
  }
}
@media (min-width: screensize.$screen-md) {
  .inkluderendeArbeidslivPanel {
    width: 100%;
    &__header {
      padding-left: var(--a-spacing-12);
    }
    &__avsnitt {
      padding-left: var(--a-spacing-9);
      padding-top: var(--a-spacing-5);
    }

    &__lenkepanel {
      width: 48.5%;
      height: var(--a-spacing-20);
      margin-top: 0;
    }
    &__lenkepanel__gruppe {
      margin-top: var(--a-spacing-8);
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 1rem;
      justify-content: space-between;
    }
  }
}
