.verktøyOgRessurser {
  margin: 4rem auto;
  padding: 0 1rem;

  .verktøyOgRessurserTittel {
    margin-bottom: 2rem;
  }

  .verktøykort {
    width: min-content;
    max-width: 25rem;
    flex-grow: 1;

    border-radius: 0.5rem;
    padding: 2.5rem 1rem 1.5rem;
    text-align: center;

    .verdi {
      width: 15rem;
      line-height: 22px;
    }

    .lenke {
      width: fit-content;
      justify-self: center;
    }

    .bilde {
      height: 100px;
      width: auto;
    }

    &.arbeidsmiljøhjelpenKort {
      background-color: #f9f5ea;
    }

    &.enBraDagKort {
      background-color: #cdeefb;
    }

    &.idebankenKort {
      background-color: #d3ddde;
    }
  }
}
