@use "src/styles/screensize";

.kalkulator {
  background-color: white;
  padding: 2rem 2rem 3rem;
  margin: 0 auto 0;
  border-radius: 0.25rem;
  max-width: 60rem;
}

.inputrader_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wrapper {
  background-color: var(--a-gray-100);
  min-height: 50rem;
  padding: 1.5rem 1rem 5rem;
}

.tittel {
  padding-bottom: 2rem;
}

.dagsverk_eller_prosent_toggle {
  margin-bottom: 2rem;

  .toggleKnapp {
    width: 100%;

    + .toggleKnapp {
      margin-top: 0.5rem;
    }
  }
}

.input_overskrift {
  padding-bottom: 2rem;
}

.ingress {
  padding-bottom: 2rem;
  max-width: 32rem;
}

.les_mer {
  padding-top: 1rem;
}

@media (min-width: screensize.$screen-sm) {
  .tittel_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .dagsverk_eller_prosent_toggle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;

    .toggleKnapp {
      width: unset;

      + .toggleKnapp {
        margin-top: 0;
      }
    }
  }
  .les_mer {
    padding-top: 2rem;
  }
}
