.progress-bar-container {
  --progress-bar-height: 1.2rem;
  --progress-bar-radius: calc(var(--progress-bar-height) / 2);
  --progress-bar-border-width: 2px;
  height: var(--progress-bar-height);
  border-radius: var(--progress-bar-radius);
  border: var(--progress-bar-border-width) solid var(--ax-border-neutral);

  background-color: white;
  position: relative;

  .progress-bar-fill {
    transition: width 0.2s ease-in-out;
    height: var(--progress-bar-height);
    border-radius: var(--progress-bar-radius);
    border: var(--progress-bar-border-width) solid var(--ax-success-600);
    position: absolute;
    left: calc(0px - var(--progress-bar-border-width));
    top: calc(0px - var(--progress-bar-border-width));
  }

  &.progress-bar-complete {
    border-color: var(--ax-border-success);

    .progress-bar-fill {
      background-color: var(--ax-success-300);
    }
  }

  &.progress-bar-incomplete {
    border-color: var(--ax-border-neutral);

    .progress-bar-fill {
      background-color: white;
      opacity: 0.8;
      background-size: 10px 10px;
      background-image: repeating-linear-gradient(
        45deg,
        var(--ax-success-300) 0,
        var(--ax-success-300) 3px,
        white 0,
        white 50%
      );
    }
  }
}
