@use "src/styles/screensize";

.ikonWrapper {
  margin-right: 1rem;
}
.tekst {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.infographicFlis {
  background-color: var(--a-orange-100);
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--a-spacing-2);
  border-radius: 4px;

  &.fullBredde {
    flex-basis: 100%;
  }

  p {
    text-align: center;
  }

  .skeletonWrapper {
    display: block;
    line-height: 1.2;
    padding: 0.5rem;
    width: 100%;

    .skeleton {
      width: 100%;
    }
  }
}

.infographicFlisBox {
  min-width: 14rem;
  min-height: 6.5rem;
  text-align: center;
  border-radius: 10px;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .label {
    font-size: 1rem;
  }

  .verdi {
    &:not(:only-child) {
      font-size: 2.5rem;
      line-height: 1.25;
      font-weight: 500;
    }
  }
}

@media (min-width: screensize.$screen-md) {
  .tekst {
    width: 100%;
  }

  .infographicFlis {
    height: 5rem;
  }
}
