@use "src/styles/screensize";

.aktiviteter-seksjon {
  background-color: var(--a-deepblue-50);
  padding-top: 2rem;
  .aktiviteter-seksjon-innhold {
    width: var(--forside-content-max-width);
    margin: auto;

    .aktiviteter-header {
      padding: 0 var(--a-spacing-4);
    }

    .aktiviteter-brødtekst {
      padding: var(--a-spacing-4);
    }

    .aktivitet {
      .accordionHeader > span:nth-child(2) {
        width: 100%;

        /* tilsvarer heading size="medium" */
        font-size: var(--a-font-size-heading-medium);
        line-height: var(--a-font-line-height-heading-medium);

        color: var(--a-blue-600);

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .aktivitet-header-progress-bar {
          margin-left: auto;
          margin-right: 0.25rem;
        }
      }
    }

    .infoboks {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin-bottom: 1rem;
      background-color: var(--a-white);
      border-radius: var(--a-border-radius-medium);
    }
  }
}

.lenkefliser {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  margin-top: var(--a-spacing-4);
  margin-bottom: var(--a-spacing-4);
  padding: var(--a-spacing-4);

  @media (min-width: screensize.$screen-lg) {
    flex-direction: row;
  }
}

.aktivitetIkkeValgt {
  background-color: var(--a-transparent);
}

.aktivitetValgt {
  background-color: var(--a-orange-100) !important;
}

.aktivitetFullført {
  background-color: var(--a-green-100) !important;
}

.statistikkContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--a-spacing-2);
}

.lenke {
  width: fit-content;
}

.numrertliste {
  counter-reset: section;

  li {
    counter-increment: section;
  }

  li::marker {
    content: counters(section, ".") ". ";
  }
}
