.statistikk {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: var(--ax-font-size-small);
  border-radius: var(--ax-radius-4);
  background-color: var(--ax-warning-200);
  padding: var(--ax-space-8);
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
}

.prosent {
  font-weight: var(--ax-font-weight-bold);
  font-size: var(--ax-font-size-large);
}
