@use "src/styles/screensize";

.sentrertSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--a-gray-100);
}

.forside {
  --forside-content-max-width: 100vw;
  display: flex;
  flex-direction: column;
  max-width: var(--forside-content-max-width);
  gap: var(--a-spacing-12);
  padding: var(--a-spacing-4) var(--a-spacing-4);

  @media (min-width: screensize.$screen-lg) {
    --forside-content-max-width: 60rem;
  }
}

.forsideAlert {
  width: 100%;
  margin-bottom: 2rem;
}
