.samarbeidslisteSide {
  .samarbeidslisteTittel {
    font-weight: var(--ax-font-weight-bold);
    //--a-spacing-4: 2rem;
    margin-top: 4rem;
  }
  .samarbeidsliste {
    margin-bottom: 2rem;
    &:not(:has(> button:last-child)) {
      margin-bottom: 4rem;
    }

    .samarbeidslisteElement {
      background-color: white;
      border-radius: var(--ax-radius-12);
      padding: 2rem 3rem;
    }
  }
}
