@use "src/styles/screensize";

.kontaktOss {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-7);

  @media (min-width: 1344px) {
    margin: 0 auto;
    max-width: 1344px;
    padding-left: 0;
    padding-right: 0;
  }

  &__innhold {
    display: flex;
    flex-direction: column;

    @media (min-width: screensize.$screen-md) {
      flex-direction: row;
    }
  }

  .duKanOgsåRingeEllerSkriveTilOss {
    display: flex;
    flex-direction: column;
    padding-right: var(--a-spacing-4);
    gap: var(--a-spacing-2);
  }
}