@use "src/styles/screensize";

.nettkurs {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 60rem;

  &__filter_heading{
    padding: 1rem 0 0 0.5rem;
  }
  &__filter_rad {
    margin: 0 auto;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    flex-wrap: wrap;
  }

  &__knapp {
    border: 2px solid var(--a-gray-400);
    border-radius: 2rem;
    margin: 0.25rem 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 148px;
  }

  &__ikon_og_tittel {
    display: flex;
    width: fit-content;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  &__ikon {
    display: flex;
    min-width: 33px;
  }

  &__tittel {
    padding-left: 1rem;
  }

  @media (min-width: screensize.$screen-sm) {
    &__filter_heading{
      padding: 2rem 1.5rem 0 2rem;
    }
    &__filter_rad {
      padding-left: 2rem;
      display: block;
    }

    &__knapp {
      margin: 0.5rem;
      min-width: 0;
    }
  }
}

.videoer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  padding: 2rem 0;
}
