@use "src/styles/konstanter";

.nettkurs {
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 60rem;

  &__knapp {
    border: 2px solid var(--navds-global-color-gray-400);
    border-radius: 2rem;
    margin: 0.5rem 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 152px;
  }

  &__filter_rad {
    display: flex;
    justify-content: space-between;
  }

  &__sortering_rad {
  }

  @media (min-width: konstanter.$screen-md) {
    &__filter_rad {
      display: flex;
      background-color: #6a1204;
    }
    &__sortering_rad {
      display: flex;
      margin-left: auto;
      align-items: flex-start;
      background-color: #003b0f;
    }
    &__knapp {
      margin: 0 0.5rem;
      width: 198px;
    }
  }
}

.videoer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 0;
}

