@use "src/styles/konstanter";
.nettkurs{

  margin: 0 auto;
  padding: .5rem;
//display: flex;
  //flex-wrap: wrap;
  max-width: 60rem;

  &__knapp{
    border:2px solid var(--navds-global-color-gray-400);
    border-radius: 2rem;
    margin: 0.5rem 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width:152px ;
  }
  &__filter_rad{
    display: flex;
    justify-content: space-between;

  }
  &__sortering_rad{
  //display: flex;
    //justify-content: flex-start;
  }

  @media (min-width: konstanter.$screen-md) {
    margin: 0 0.5rem;
    width:198px ;

  }
}
