@use "src/styles/screensize";

.lenkeflis {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-basis: 50%;
}

.ikonOgTekstWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.ikonWrapper {
  display: flex;
  align-items: center;
  background-color: var(--a-orange-100);
  border-radius: 50%;
  padding: 15px;
}
