.panelWrapper {
  width: 100%;
}

.ikonOgTekstWrapper {
  display: grid;
  grid-auto-flow: column;
  gap: var(--navds-spacing-8);
  align-items: center;
}

.linkSymbol {
  min-height: 1rem;
  min-width: 1rem;
  transition: transform 200ms;
}
.tekstWrap {
  word-break: break-word;
  word-wrap: break-word;
}
.panelWrapper:hover .linkSymbol,
.panelWrapper:focus-within .linkSymbol {
  transform: translateX(4px);
}
