.NOA_infographicFlisLinkBox {
  min-width: 14.375rem;
  min-height: 12.0625rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 1rem); // Default: 2 per rad

  border-radius: 10px;
  border: 1px solid var(--Global-Blue-400, #3386E0);
  background: var(--Global-Blue-100, #CCE1FF);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem 3.5rem;
  position: relative;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;

  &:hover {
    background: var(--Global-Blue-200, #99C3FF);
    border-color: var(--Global-Blue-500, #00459C);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  // Over 1080px: tillat 4 per rad
  @media (min-width: 1080px) {
    flex-basis: 0;
  }

  .externalIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #00459C;
  }

  .label {
    color: #00459C;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: underline;
  }

  .verdi {
    &:not(:only-child) {
      color: var(--nav-gra-nav-mork-gra, #262626);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

