.NOA_infographicFlisBox {
  min-width: 14.375rem;
  min-height: 12.0625rem;
  border-radius: 10px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 1rem); // Default: 2 per rad
  background: var(--Global-Blue-200, #99c3ff);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem 3.5rem;

  // Over 1080px: tillat 4 per rad
  @media (min-width: 1080px) {
    flex-basis: 0;
  }

  .label {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }

  .verdi {
    &:not(:only-child) {
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0.044px;
    }
  }
}
