.panel {
  width: 28rem;
  //height: 12rem;
  //min-height: 12rem;
  background-color: blue;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.ikonOgTekstWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: crimson;
  height: 12rem;
  min-height: 10rem;
  min-width: 20rem;
}

.ikon {
  height: 100%;
  width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  background-color: darkviolet;
}
