.panel {
  width: 28rem;
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 0;
  margin: 0;
}

.ikonOgTekstWrapper {
  display: flex;
  flex-direction: row; // todo design mobile-first --> column
  align-items: center;
  height: 12rem;
  min-height: 10rem;
  min-width: 20rem;
}

.ikon {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  background-color: var(--navds-global-color-blue-100);
}

// Stor skjerm
@media (min-width: 992px) {
  .ikonOgTekstWrapper {
    display: flex;
    flex-direction: row;
  }
}
