@use "src/utils/screen-sizes";

.lenkeflis {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 1rem 0 0;
  margin: 0;
}

.ikonOgTekstWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7rem;
}

.ikonWrapper {
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  background-color: var(--navds-global-color-blue-100);
}

@media (min-width: screen-sizes.$screen-md) {
  .lenkeflis {
    width: 48.5%;
  }
}

@media (min-width: screen-sizes.$screen-sm) {
  .ikonOgTekstWrapper {
    height: 12rem;
  }
}
