@use "src/styles/screensize";

.lenkeflis {
  display: flex;
  flex-direction: row;
  margin: 0;
  &__infographic {
    flex-basis: 50%;
  }
}

.ikonOgTekstWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  &__infographicLenkeflis {
  }
}

.ikonWrapper {
  display: flex;
  align-items: center;
  background-color: var(--a-orange-100);
  border-radius: 50%;
  padding: 15px;
}

@media (min-width: screensize.$screen-md) {
  .lenkeflis {
  }
}

@media (min-width: screensize.$screen-sm) {
  .ikonOgTekstWrapper {
  }
  .lenkeflis {
    &__infographic{
    }
  }
}
