@use "src/utils/screen-sizes";

.forside {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;

  .ikonWrapper {
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
  }

  .panelGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem 0;
  }

  @media (min-width: screen-sizes.$screen-md) {
    .panelGrid {
      justify-content: space-between;
    }
  }
}
