@use "src/styles/screensize";

.sentrertSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forside {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  gap: var(--a-spacing-12);
  padding: var(--a-spacing-4) var(--a-spacing-4);

  .ikonWrapper {
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
  }

  @media (min-width: screensize.$screen-lg) {
    max-width: 60rem;
  }
}

.forsideAlert {
  width: 100%;
  margin-bottom: 2rem;
}
