@use "src/styles/screensize";

.forside {
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;

  .ikonWrapper {
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
  }

  .panelGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem 0;
  }

  @media (min-width: screensize.$screen-md) {
    padding: 2rem;

    .panelGrid {
      justify-content: space-between;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.forsideAlert {
  width: 100%;
  margin-bottom: 2rem;
}
