
.forside {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  justify-content: center;



  .ikonOgTekstWrapper {
    display: flex;
    flex-direction: row;
    align-content: baseline;
  }

  .ikon{
    height: 6rem;
    width: 6rem;
    margin-right: 1.5rem;
  }

  .panel {
    margin: 2rem;
    min-width: 8rem;
    width: 32rem;
    height: 12rem;
    min-height: 12rem;
  }

  .panelRow {
    display: flex;
    flex-direction: row;
  }

  .panelGrid {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: var(screen-sm-min)) {
    .forside {
      height: 11rem;
    }
  }
}
