@use "../../styles/screensize";

.risikoFaktorer {
  background-color: #CCE1FF;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding: 2rem 2rem;
  border-radius: 8px;
  margin-bottom: 4rem;
  position: relative;
}

.hstack {
  margin-bottom: 1rem;
}


.STAMI__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  right: 2rem;

  .STAMI__logo {
    width: 74px;
    height: auto;
    object-fit: contain;
  }

  @media (max-width: screensize.$screen-lg) {
    position: static;
    order: 10;
    margin-top: 2rem;
  }
}

.HStackContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  // Mellom 816px og 1080px: tillat 2-2 layout
  @media (min-width: 816px) and (max-width: 1079px) {
    > * {
      flex-basis: calc(50% - 1rem); // 2 items per rad
      min-width: 0;
    }
  }
}
