.kontaktOss {
  background-color: var(--a-white);
  .kontaktOss__innhold {
    padding: 2rem 0;

    .kontaktOss__stack {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
			grid-template-rows: auto;
			gap: 1rem;
      margin-top: 2rem;

      .kontaktOssItem {
				display: grid;
				max-width: 25rem;
				min-width: 15rem;
				grid-row: span 3;
				grid-template-rows: subgrid;
        grid-template-columns: 5rem 1fr;

        .kontaktOssItem__ikon {
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          background-color: var(--a-blue-100);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          margin: 0 1rem;
          grid-row: span 3;
        }
    
        .kontaktOssItem__innhold {
          display: grid;
          grid-template-columns: minmax(fit-content, 1fr);
          grid-template-rows: subgrid;
          grid-row: span 3;
        }
      }
    }
  }
}