.expansionHeader {
  :global .navds-expansioncard__header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    :global .navds-expansioncard__title {
      margin-top: 0;
    }

    .spørreundersøkelseDato {
      width: 9rem;
      text-align: left;
      margin-left: 1rem;
    }
  }
}
