.temaContainer {
    display: grid;
    grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
    justify-items: stretch;
    width: 100%;
    padding-bottom: 4rem;
    gap: 2rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
    }

	.temaGrafContainer {
		border: 1px solid var(--a-gray-300);
		border-radius: var(--a-border-radius-large);
		grid-column: span 1;
		padding: 2rem;

		.kategoriTittel {
			margin-left: 10px;
			margin-bottom: 0.5rem;
		}
	}
}

.headerStack {
	margin-bottom: 1rem;

	.antallDeltakere {
		color: var(--a-blue-500);
		font-size: 1.25rem;
		gap: 1rem;
		margin-right: 2rem;
	}
}
