.fraværskalkulator_brick {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--ax-radius-12);
  border: 2px solid var(--ax-accent-600);
  color: var(--ax-bg-accent-strong-pressed);
  margin: 4rem 1rem;
  padding: 2rem 4rem;
  gap: 1rem;

  .fraværskalkulator_lenke {
    color: var(--ax-bg-accent-strong-pressed);
  }
}
