@use "../../styles/screensize";

.sykefraværsstatistikk {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-4);
  padding: 4rem 2rem;

  .info-ikon {
    margin-right: 0.25rem;
    margin-bottom: -0.5rem;
  }
}
