.last-ned-knapp > span {
  display: flex;
  min-width: 8rem;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.last-ned-knapp-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .last-ned-knapp-wrapper {
    justify-content: flex-end;
  }
}

@media print {
  .last-ned-knapp > span {
    display: none;
  }

  .last-ned-knapp {
    display: none;
  }
}
