@use "src/styles/screensize";

.ikonWrapper {
  margin-right: 1rem;
}
.tekst {
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.infographicFlis {
  background-color: var(--a-orange-100);
  flex-basis: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--a-spacing-2);
  border-radius: 4px;

  p {
    text-align: center;
  }
}

@media (min-width: screensize.$screen-md) {
  .tekst {
    width: 100%;
  }

  .infographicFlis {
    height: 5rem;
  }
}
