@use "src/styles/screensize";

.ikonWrapper {
  margin-right: 1rem;
}
.tekst {
  width: 75%;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.infographicFlis {
  background-color: var(--a-orange-100);
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
}

@media (min-width: screensize.$screen-md) {
  .tekst {
    width: 100%;
  }

  .infographicFlis {
    display: flex;
    width: 49%;
    height: 5rem;
  }
}
