@use "src/styles/screensize";

.infographicWrapper {
  background-color: white;
  width: 100%;
  padding: 2rem 1rem 1.5rem 1rem;
}
.infographicRad {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.snippetWrapper {
  display: flex;
  flex-direction: row;
}

.text {
  float: left;
}
.hjelpetekstWrapper {
  margin-left: auto;
}
.informasjon {
  width: 2rem;
  height: 2rem;
}
.infographicFlisOversikt {
  text-align: center;
}
.infographicContent {
  &__wrapper {
    width: 100%;
  }
}

@media (min-width: screensize.$screen-md) {
  .infographicWrapper {
    display: flex;
    padding: 2rem 1rem 1.5rem 1rem;
    justify-content: space-between;
  }

  .infographicContent {
    margin: 1.5rem 0 0 0;
    &__wrapper {
      width: 49%;
    }
  }
}

:export {
  screenSm: screensize.$screen-sm;
}
