@use "src/styles/screensize";

.sykefraværsstatistikkLenkeflisBoks {
}
.manglendeTilgangerSykefraværsstatistikkFlis {
}

@media (min-width: screensize.$screen-md) {
  .sykefraværsstatistikkLenkeflisBoks {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

:export {
  screenSm: screensize.$screen-sm;
}
