.mer_om_statistikk__store_flater {
  display: none;
}

.mer_om_statistikk {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  border-radius: var(--ax-radius-2);
}

@media print {
  .mer_om_statistikk__store_flater {
    display: none;
  }

  .mer_om_statistikk {
    display: none;
  }
}

@media (min-width: 768px) {
  .mer_om_statistikk__store_flater {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 42rem;
    margin-left: 2rem;
  }

  .mer_om_statistikk {
    display: none;
  }
}
