@use "src/styles/screensize";

.kostnad {
  margin-top: 2rem;
  padding: 2rem 1rem 3rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--a-blue-200);
}

.tittel {
  display: flex;
}

.ikon {
  margin-left: 1rem;
}

.tekst {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.sisteresultat {
  color: var(--a-green-500);
  &_minus {
    color: var(--a-nav-red);
  }
}

.sisterad {
  border-bottom: 0.125rem solid var(--a-gray-100);
  padding-bottom: 1rem;
}

.resultatrad {
  border-bottom: 0.125rem double var(--a-gray-900);
  padding-bottom: 1rem;
}

@media (min-width: screensize.$screen-sm) {
  .kostnad {
    min-width: 21rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
