name: Build and deploy min-ia
on: [push]
env:
  "IMAGE": "ghcr.io/${{ github.repository }}:${{ github.sha }}"

concurrency:
  group: build-deploy-on-${{ github.ref }}
  cancel-in-progress: true

jobs:
  "build":
    name: "Build, lint, test and push docker image"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"

      - name: "Setup node"
        uses: "actions/setup-node@v2"
        with:
          node-version: '16'

      - name: "Install deps client"
        working-directory: client
        run: "yarn install --immutable"

      - name: "Install deps server"
        working-directory: server
        run: "yarn install --immutable"

      - name: "Lint client"
        uses: "wearerequired/lint-action@v1"
        with:
          eslint: true
          eslint_dir: client/
          eslint_extensions: js,jsx,ts,tsx

      - name: "Login to GitHub Docker Registry"
        uses: "docker/login-action@v1"
        with:
          "registry": "ghcr.io"
          "username": "${{ github.actor }}"
          "password": "${{ secrets.GITHUB_TOKEN }}"
      - name: "Build and push the Docker image"
        run: "docker-compose build --pull && docker push ${IMAGE}"
