name: Build and deploy min-ia
run-name: Build and deploy app | ${{ github.event.head_commit.message }}
on: [ push ]
env:
  IMAGE: ghcr.io/${{ github.repository }}:${{ github.sha }}

concurrency:
  group: build-deploy-on-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build, lint, test and push docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install client dependencies
        working-directory: client
        run: yarn install --immutable

      - name: Install server dependencies
        working-directory: server
        run: yarn install --immutable

      - name: Run tests
        working-directory: client
        run: yarn test

      - name: Lint client
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          eslint_dir: client/
          eslint_extensions: js,jsx,ts,tsx

      - name: Login to GitHub Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push the Docker image
        run: |
          docker build . -t ${IMAGE} && docker push ${IMAGE}

  deployAppToDev:
    name: Deploy app to dev
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to DEV
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/dev.yaml

  deployAppToLabs:
    name: Deploy app to labs
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/fiks-deploy-til-labs'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to DEV
        uses: nais/deploy/actions/deploy@v1
        env:
          DEPLOY_SERVER: deploy.nais.io:443
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: labs-gcp
          RESOURCE: .nais/labs.yaml

  deployAppToProd:
    name: Deploy app to production
    if: github.ref == 'refs/heads/main'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod.yaml
