name: Deploy redirect ingresses to dev
run-name: Deploy redirect ingress to dev | ${{ github.event.head_commit.message }}
on:
  push:
    branches:
      - package-upgrade-test
    paths:
      - ".github/workflows/deploy-redirect-dev.yaml"
      - ".nais/redirect-sykefravarsstatistikk-dev.yaml"
      - ".nais/redirect-forebyggingsplan-dev.yaml"

permissions:
  id-token: write

jobs:
  deploy:
    name: Deploy redirect ingresses to dev-gcp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Deploy sykefravarsstatistikk redirect ingress to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: "\
            .nais/redirect-sykefravarsstatistikk-dev.yaml,\
            .nais/redirect-forebyggingsplan-dev.yaml"

