name: Deploy redirect ingresses to prod
run-name: Deploy ingresses to prod | ${{ github.event.head_commit.message }}
on:
  push:
    branches:
      - 'main'
    paths:
      - '.nais/redirect-sykefravarsstatistikk-prod.yaml'
      - '.github/workflows/deploy-redirect-prod.yaml'
      - '.nais/redirect-forebyggingsplan-prod.yaml'
jobs:
  deploy:
    name: Deploy redirect ingresses to prod-gcp
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy redirect ingresses to prod
        uses: nais/deploy/actions/deploy@master
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: "\
            .nais/redirect-sykefravarsstatistikk-prod.yaml,\
            .nais/redirect-forebyggingsplan-prod.yaml"